.bento-grid-container {
  display: grid;
  grid-template-columns: 20vw 60vw;
  grid-template-rows: repeat(2, 40vh);
  flex-wrap: wrap;
  margin-top: 6.6vh;
  margin-left: 6.6vw;
  margin-right: 6.6vw;
  column-gap: 6.6vw;
  row-gap: 6.6vh;
}

.shelf {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 2rem;
  margin: 4rem;
  height: 100%;
}

.bento {
  display: flex;
  flex-direction: column;
  background-color: #1a1a1a;
  border-radius: 1rem;

  outline: lightgreen dashed;
  height: 40vh;
  align-items: center;
}