.bento-grid-container {
  display: grid;
  align-items: center;
  margin: 4rem;
}

.shelf {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 2rem;
  margin: 4rem;
  height: 100%;
}

.bento {
  display: flex;
  flex-direction: column;
  background-color: #1a1a1a;
  border-radius: 1rem;

  outline: lightgreen dashed;
  height: 50vh;
  align-items: center;
}