.book-neck {
    height: 100%;
    width: 5rem;
    text-align: center;
}

.book-side {
    height: 100%;
    width: 0;
    filter: saturate(50%) brightness(90%);
}

.book-title {
    transform: rotate(90deg);
    text-wrap: nowrap;
    user-select: none;
    filter: saturate(0) invert(1);

}

.book {
    display: flex;
    flex-direction: row;
    wrap-option: nowrap;
    height: 100%;
}