.book-neck {
    height: 100%;
    width: 100px;
    text-align: center;
}

.book-side {
    height: 100%;
    width: 100px;
    filter: saturate(50%);
}

.book-title {
    transform: rotate(90deg);
    text-wrap: nowrap;
}

.book {
    display: flex;
    flex-direction: row;
    height: 100%;
}