.book-neck {
    height: 100%;
    width: 100px;
    text-align: center;
}

.book-side {

    height: 100%;
    width: 100px;
    filter: saturate(50%);
}

.rotate {
    transform: rotate(90deg);
}

.book {
    perspective: 3000px;
    display: flex;
    flex-direction: row;
    height: 100%;
}